# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
*cache*

# --- Virtual environments ---
.venv/
venv/
env/
*.env
*.venv

# --- IDE ---
.vscode/
.idea/
*.swp

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb_convert/

# --- Logs ---
logs/
*.log

# helper scripts
arch.txt
dump.py
dump_files.py
project_paths.txt


# data
data/raw/*
!data/raw/.gitkeep

data/tokenized/*
!data/tokenized/.gitkeep

#docs
docs/pz*
!pz*.tex
!pz*.pdf

#other
*private*
experiments/finetuning/*
!experiments/finetuning/.gitkeep
experiments/pretraining/*
!experiments/pretraining/.gitkeep